<hr/>
<div class="container">
    <div class="card">
        <div class="card-heading">
            <h2>Register Forms</h2>
        </div>
        <div class="card-body">
            <form #form = "ngForm" (submit)="submitForm(form)">
                <div class="form-group"[class.text-danger]="name.invalid && name.touched">
                    <label for="fname" class="control-label">Name</label>
                    <input type="text" id="fname" class="form-control" name="name" [(ngModel)]="myEmployee.name" #name="ngModel" required/>
                    <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Name is required</div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6" [class.text-danger]="mail.invalid && mail.dirty">
                        <label for="email" class="control-label">
                            Email
                        </label>
                        <input type="text" id="email" class="form-control" name="email" [(ngModel)]="myEmployee.email" #mail="ngModel" pattern="^([a-zA-Z0-9]+)@([a-zA-Z0-9]+)\.([a-zA-Z0-9]{2,5})$"/>
                        <div class="alert alert-danger" *ngIf="mail.invalid  && mail.dirty">Please enter valid email</div>
                    </div>

                    <div class="form-group col-md-6" [class.text-danger]="pwd.invalid && pwd.dirty">
                        <label for="password" class="control-label">
                            Password
                        </label>
                        <input type="text" id="password" class="form-control" name="password" [(ngModel)]="myEmployee.password" #pwd="ngModel" minlength="8"/>
                        <div class="alert alert-danger" *ngIf="pwd.invalid  && pwd.dirty">min length of password is 8</div>
                    </div>
                    <div class="form-group col-md-6" [class.text-danger]="phn.invalid && phn.dirty">
                        <label for="phone" class="control-label">
                            Phone
                        </label>
                        <input type="text" id="phone" class="form-control" name="phone" [(ngModel)]="myEmployee.phone" #phn="ngModel" minlength="10"/>
                        <div class="alert alert-danger" *ngIf="phn.invalid  && phn.dirty">Enter valid Number</div>
                    </div>
                    
                </div><br/>

                <button class="btn btn-success" type="submit">Register</button>
                
            </form>
        </div>
    </div>
</div>